@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Light.eot');
    src: url('../fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Light.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Light.woff') format('woff'),
        url('../fonts/AvenirLTStd-Light.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Light.svg#AvenirLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Book.eot');
    src: url('../fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Book.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Book.woff') format('woff'),
        url('../fonts/AvenirLTStd-Book.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Medium.eot');
    src: url('../fonts/AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Medium.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Medium.woff') format('woff'),
        url('../fonts/AvenirLTStd-Medium.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../fonts/AvenirLTStd-Black.eot');
    src: url('../fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Black.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Black.woff') format('woff'),
        url('../fonts/AvenirLTStd-Black.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std Heavy';
    src: url('../fonts/AvenirLTStd-Heavy.eot');
    src: url('../fonts/AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AvenirLTStd-Heavy.woff2') format('woff2'),
        url('../fonts/AvenirLTStd-Heavy.woff') format('woff'),
        url('../fonts/AvenirLTStd-Heavy.ttf') format('truetype'),
        url('../fonts/AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

:root {
    --color-azul: #1d3e77;
    --color-azul-escuro: #112445;
    --color-azul-claro: #00aeef;
    --color-laranja: #e76c23;
}

/* CSS Document */
html, body {
    height: 100%;
    margin: 0;
}
body {
    font-size: 18px;
    line-height: 30px;
    font-family: 'Avenir LT Std';
    font-weight: 300;
    background: #ededed;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

strong {
    font-weight: 900;
}

h2 {
    font-size: 40px;
}

a:hover {
    text-decoration: none;
}

header .top {
    background-color: #000;
    border-top: 6px solid var(--color-azul-claro);
    padding: 25px;
    text-align: center;
}
header .top p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 0;
}
header .navbar {
    top: 162px;
    position: absolute;
    background-color: var(--color-azul);
    z-index: 100;
}
header.fixed .navbar{
    top: 0;
    position: fixed;
}
header .navbar .navbar-nav {
    width: 100%;
    justify-content: space-around;
    display: flex;
}
header .navbar-nav .nav-link {
    color: #fff;
    text-transform: uppercase;
    font-family: 'Avenir LT Std Heavy';
    font-weight: 900;
    font-size: 18px;
}
header .navbar-nav .active>.nav-link, header .navbar-nav .nav-link:hover {
    color: var(--color-azul-claro);
}
header .navbar-nav .active,header .navbar-nav a:hover {
    background: none;
}

main .banner {
    margin-top: 63px;
    height: 580px;
    position: relative;
}
main .banner h2 {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: right;
    line-height: 43px;
    margin-bottom: 40px;
    margin-top: 89px;
}
main .banner h2 strong {
    font-weight: 900;
}
main .banner p {
    color: #fff;
    text-align: right;
}
main .banner .logo {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 789px;
    height: 789px;
    z-index: 1;
}
main .banner .logo .bg {
    position: absolute;
    width: 100%;
    background: #f2f2f2;
    height: 100%;
    transform: skewX(-45deg);
    right: 397px;
}
main .banner .logo .triangle {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 305px solid transparent;
    border-right: 305px solid transparent;
    border-top: 300px solid #fff;
    right: 0;
    top: 0;
}
main .banner .logo img {
    position: absolute;
    z-index: 1;
    right: 161px;
    top: 57px;
}
main .banner .align-center {
    height: 580px;
}
main .banner .container {
    position: relative;
}
main .banner .text {
    margin-top: 50px;
}
main .about {
    color: #fff;
    background-color: var(--color-azul);
    padding: 100px 0 120px;
    position: relative;
    overflow: hidden;
}
main .about .bg {
    position: absolute;
    width: 1000px;
    height: 100%;
    background-color: var(--color-azul-escuro);
    top: 0;
    left: -410px;
    transform: skewX(45deg);
}
main .about .row {
    position: relative;
}
main .about .row:before {
    content: '';
    position: absolute;
    bottom: -61px;
    left: 251px;
    background: url(../img/line-lap.png) center center no-repeat;
    width: 662px;
    height: 233px;
    background-size: 100%;
}
main .about p {
    text-align: right;
    margin-bottom: 40px;
}
main .about .btn-video {
    font-weight: 500;
    color: var(--color-laranja);
    border: 1px solid var(--color-laranja);
    border-radius: 5px;
    float: right;
    text-transform: uppercase;
    padding: 10px 173px 10px 84px;
    position: relative;
    margin-top: 40px;
}
main .about .btn-video img {
    position: absolute;
    top: -25px;
    right: 50px;
    border: 5px solid var(--color-azul);
    border-radius: 100px;
}
#rd-section-joq3m2m5c {
    background: none !important;
}
#rd-form-joq3m2m5i .bricks-form__label {
    color: #fff !important;
}
#rd-button-joq3m2m5a {
    background: none !important;
    border: 1px solid #fff !important;
}
#rd-form-joq3m2m5i .with-select-flags > .phone-input-group > .phone-country {
    height: 36px;
}
main .banner p span {
    color: #fff !important;
}

main .about img.lap {
    margin-left: -95px;
    position: relative;
}

main .title {
    font-size: 40px;
    color: var(--color-azul);
    font-weight: 900;
    text-transform: uppercase;
}
main .title span {
    color: var(--color-laranja);
    font-weight: 300;
}
main .title strong {
    font-weight: 900;
}

main .vision {
    height: 600px;
    width: 100%;
    position: relative;
    overflow: hidden;
}
main .vision .man {
    position: relative;
    height: 600px;
}
main .vision .man img {
    position: absolute;
    bottom: 0;
    right: 0;
}
main .vision .bg {
    position: absolute;
    width: 100%;
    background: #f2f2f2;
    height: 100%;
    transform: skewX(-45deg);
    left: 70%;
}
main .vision .box-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-top: 1px solid #f2f2f2;
    margin-top: 60px;
}
main .vision .box-list .box {
    border: 1px solid #f2f2f2;
    border-top: 3px solid #fff;
    background-color: #fff;
    text-align: center;
    padding: 20px 13px;
    display: block;
}
main .vision .box-list .box:hover {
    border-top: 3px solid var(--color-laranja);
}
main .vision .box-list .box h2 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    min-height: 34px;
    margin-bottom: 0;
}
main .vision .box-list .box p {
    font-size: 14px;
    color: #626060;
    line-height: 20px;
    margin-bottom: 0;
}
main .vision .box-list .box .ico {
    position: relative;
    margin-bottom: 20px;
}
main .vision .box-list .box .ico img {
    z-index: 1;
    position: relative;
}
main .vision .box-list .box .ico:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--color-laranja);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100px;
    z-index: 0;
    transition: transform .3s ease-out, background-color 0.3s ease-out, -webkit-filter 0.5s ease-out;
    transform-origin: left top;
}
main .vision .box-list .box:hover .ico:before {
    transform: scale(1.5) translate(-50%,-50%);
    background-color: var(--color-azul);
}
main .vision .box-list .box:hover img {
    filter: invert(1);
}
main .vision .valign-wrapper {
    height: 600px;
    position: relative;
}


main .products {
    height: 645px;
    background: url(../img/bg-produtos.jpg) no-repeat center center/cover;
    padding: 65px 0;
}

main .products .container {
    position: relative;
}

main .products .box {
    border: 1px solid #f2f2f2;
    border-top: 3px solid #fff;
    background-color: #fff;
    text-align: center;
    padding: 20px 13px;
    display: table;
    width: 275px;
    height: auto;
}
main .products .carousel {
    margin-top: 50px;
}
main .products .carousel .carousel-item > img {
    width: auto;
}
main .products .box:hover, main .products .box.active {
    border-top: 3px solid var(--color-laranja);
}
main .products .box h2 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
    margin-top: 0;

}
main .products .box span {
    font-size: 16px;
    color: var(--color-azul);
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid var(--color-azul);
    width: 100%;
    padding: 10px 10px;
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease;
}
main .products .box.active span {
    opacity: 1;
    visibility: visible;
}

.navigation {
    width: 100%;
}
.navigation > div {
    position: absolute;
    cursor: pointer;
}
.navigation .prev {
    top: 50%;
    left: 0;
}
.navigation .next {
    top: 50%;
    right: 0;
}
main .support {
    overflow: hidden;
}
main .support .title-section {
    background-color: var(--color-laranja);
    text-align: center;
    padding: 20px 0;
}
main .support .valign-wrapper {
    height: 600px;
}
main .support .title-section h2 {
    font-weight: 900;
    color: var(--color-azul);
    text-transform: uppercase;
    font-size: 40px;
}
main .support .content {
    height: 600px;
    position: relative;
}
main .support .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-azul-escuro);
    top: 0;
    right: 632px;
    transform: skewX(-45deg);
}
main .support .woman {
    position: absolute;
    right: 526px;
    top: 112px;
}
main .support .container {
    position: relative;
    z-index: 1;
    height: 100%;
}
main .support ul {
    margin: 100px 0 20px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
main .support ul li {
    margin-bottom: 20px;
    max-width: 434px;
}
main .support ul li .collapsible-body {
    padding: 8px 0 0;
    color: #fff;
    border: none;
    font-size: 14px;
    line-height: 20px;
}
main .support ul li .collapsible-header {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 50px 0 0;
    position: relative;
    background: none;
    border: none;
}
main .support ul.faqc {
    margin: 0;
}
main .support ul.faqc li .collapsible-header {
    font-size: 15px;
}
main .support ul.faqc a {
    border: 1px solid var(--color-azul-claro);
    border-radius: 5px;
    display: table;
    margin-top: 10px;
    padding: 8px 20px;
    text-align: center;
    text-transform: uppercase;
}
main .support ul li .collapsible-header:before {
    content: '';
    background: url(../img/arrow-support.png) center center no-repeat;
    background-size: 100%;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
}
main .support ul li p {
    /*opacity: 0;
    visibility: hidden;*/
    /*color: #fff;
    background-color: var(--color-laranja);
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;*/
}
main .title-faq {
    margin-bottom: 30px;
}
main .title-faq img {
    float: left;
}
main .title-faq h2 {
    font-size: 20px;
    color: var(--color-laranja);
    font-weight: 900;
    text-transform: uppercase;
    margin: 17px 0 0 13px;
    display: inline-block;
}

main .faq {
    min-height: 300px;
    width: 475px;
    height: auto !important;
}
main .faq .faq-item {
    border: 1px solid #f2f2f2;
    border-top: 3px solid var(--color-laranja);
    background-color: #fff;
    text-align: center;
    padding: 10px 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

main .faq .faq-item h2 {
    font-size: 14px;
    color: var(--color-laranja);
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0 0;
}
main .faq .faq-item h3 {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 20px;
    margin: 15px 0 0;
}
main .faq .faq-item p {
    color: #626060;
    font-size: 14px;
    line-height: 20px;
}
main .faq .faq-item img {
    width: 56px;
}
main .vision.videos .box-list .box {
    padding: 37px 13px 20px;
    opacity: 1 !important;
}
main .vision.videos .box-list .box {
    cursor: pointer;
    width: 100%;
    display: block;
}
main .vision.videos .box-list .box .ico {
    text-align: center;
}
main .vision.videos .man img {
    bottom: 53px;
}
main .vision.videos .box-list .box .ico img {
    width: 40px;
    margin: 7px auto 0;
    display: block;
    transition: transform .3s ease-out, background-color 0.3s ease-out, -webkit-filter 0.5s ease-out;
}
main .vision.videos  .box-list .box:hover img {
    filter: invert(0);
    transform: scale(1.2);
}
main .vision.videos .box-list .box:hover .ico:before {
    transform: scale(1.4) translate(-50%,-50%);
    background-color: var(--color-azul);
}
main .vision.videos .box-list .box h2 {
    font-size: 14px;
    min-height: 46px;
}
.carousel.carousel-slider .carousel-item {
    min-height: unset;
}

main .vision.videos .valign-wrapper > div {
    width: 100%;
}
main .vision.videos .box-list {
    width: 100%;
    height: 200px !important;
    display: block;
    grid-template-columns: none;
    border-top: none;
    max-width: 800px;
}

.modal-button {
    cursor: pointer;
}

main .vision.videos .title {
    margin-top: 0;
}

.owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-prev:hover {
    background: url('../img/arrow-left.png') center center no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-right: 25px;
}
.owl-carousel .owl-nav button.owl-next,.owl-carousel .owl-nav button.owl-next:hover {
    background: url('../img/arrow-right.png') center center no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    margin-left: 25px;
}
.owl-theme .owl-nav {
    margin-top: 30px;
}

.owl-carousel .owl-stage {
    display: flex;
    flex-wrap: wrap;
}
.owl-carousel .owl-item {
    display: flex;
}

main .solucoes {
    height: 800px;
    position: relative;
    overflow: hidden;
    text-align: right;
    text-transform: uppercase;
    color: #fff;
}
main .solucoes h2 {
    font-size: 40px;
    color: var(--color-azul);
    margin-top: 100px;
}
main .solucoes h2 strong {
    font-weight: 900;
}
main .solucoes h2 span {
    display: block;
    font-weight: 900;
    color: #fff;
}
main .solucoes .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-laranja);
    top: 0;
    left: 40%;
    transform: skewX(45deg);
}
main .solucoes .container {
    position: relative;
    z-index: 1;
}
main .solucoes ul {
    margin: 0;
    max-width: 500px;
    float: right;
}
main .solucoes ul li {
    line-height: 28px;
    margin-bottom: 20px;
    list-style: inside;
}

main .wdc {
    position: relative;
    height: 800px;
    border-top: 5px solid var(--color-azul-claro);
    overflow: hidden;
}

main .wdc h2 {
    font-size: 40px;
    color: var(--color-azul-claro);
    font-weight: 900;
}
main .wdc h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}

main .wdc p {
    color: #fff;
}

main .wdc .valign-wrapper {
    height: 795px;
}
main .wdc .row {
    margin-bottom: 0;
}

main .wdc .vantagens div {
    margin: 0 auto;
}
main .wdc .vantagens ul {
    position: relative;
}
main .wdc .vantagens ul li {
    position: relative;
    padding-left: 40px;
}
main .wdc .vantagens ul li::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('../img/bullet.png') center center no-repeat;
    background-size: 100%;
    left: 0;
}
main .wdc .vantagens h2 {
    font-size: 25px;
    padding-left: 40px;
}
main .wdc .vantagens ul:before {
    content: '';
    background: url(../img/marca.png) center center no-repeat;
    width: 475px;
    height: 309px;
    background-size: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
main .wdc .vantagens a {
    color: var(--color-azul-claro);
    display: block;
    border: 1px solid var(--color-azul-claro);
    max-width: 87%;
    margin: 51px 0 0 40px;
    border-radius: 5px;
    text-align: center;
    padding: 6px 0;
}
main .wdc .vantagens a:hover {
    background-color: var(--color-azul-claro);
    color: #fff;
}


main .contact {
    padding: 110px 0 40px;
    background-color: #000;
    border-top: 5px solid var(--color-azul-claro);
}

main .contact .infos {
    color: #fff;
    margin-bottom: 40px;
}
main .contact .infos a {
    color: #fff;
}
main .contact .infos span{
    font-size: 14px;
}
main .contact .infos .buttons a {
    text-transform: uppercase;
    display: table;
    position: relative;
    padding-right: 27px;
}
main .contact .infos .buttons a:after {
    content: '';
    width: 21px;
    height: 21px;
    background: url(../img/ico-infos.png) center center no-repeat;
    background-size: 100%;
    right: 0;
    position: absolute;
    top: 4px;
}
main .contact h2 {
    color: #fff;
    font-weight: 900;
    margin: 0 0 35px;
}
main .contact .infos .whatsapp {
    color: var(--color-azul-claro);
}

/* Modal */

.modal-video {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 101;
}
.modal-video.active {
    opacity: 1;
    visibility: visible;
}

.modal-video .content {
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    max-height: 579px;
    top: 50%;
    transform: translateY(-50%);
}
.modal-video .close {
    color: #000;
    position: absolute;
    right: 9px;
    top: 3px;
    cursor: pointer;
    font-weight: 900;
}

iframe {
    width: 94%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 3%;
}
div#formulario-lp-fiberhome-2-5ed0e2219684ad2119b2 #rdstation-bricks-embeddable-form-bricks-component-JxExJH2bVQwls9Qfkzfamw p span {
    color: #fff !important;
}
div#rd-text-k1td3sed {
    margin-bottom: 0 !important;
}
#rd-text-k1td3sed h5 strong {
    background: none !important;
    color: #fff !important;
    text-transform: uppercase;
    font-size: 29px !important;
    margin-bottom: 0;
}
#rd-text-k1td3sed h5 {
    color: #fff;
}
div#rd-text-keini1te p span {
    background: none !important;
}
#rd-text-keimdwjb p span {
    background: none !important;
    color: #fff !important;
}
#rd-form-joq3m2m5i .bricks-form__static a, #rd-form-joq3m2m5i p.bricks-form__static {
    color: #fff !important;
}
.sidenav {
    background-color: var(--color-azul);
    padding-top: 16px;
}
nav a.sidenav-trigger i {
    font-size: 34px;
}
.sidenav li>a {
    text-transform: uppercase;
    color: #fff;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 94%;
    }
}
@media (min-width: 2150px) {
    main .banner .logo {
        right: unset;
        right: 60%;
    }
}
@media (min-width: 2300px) {
    main .banner .logo {
        right: unset;
        right: 75%;
    }
}
@media (max-width: 1850px) {
    main .banner .logo {
        left: -180px;
    }
    main .about .bg {
        left: -591px;
    }
}
@media (max-width: 1500px) {
    main .banner .logo {
        left: -320px;
    }
    main .about .bg {
        left: -621px;
    }
}
@media (max-width: 1400px) {
    main .banner .bg-logo {
        right: -140px;
    }
}
@media (max-width: 1200px) {
    main .banner {
        height: auto;
        padding-bottom: 27px;
    }
    main .banner .logo .triangle {
        display: none;
    }
    main .banner .logo .bg {
        display: none;
    }
    main .banner .logo {
        width: 100%;
        height: auto;
        position: relative;
    }
    main .banner .logo img {
        position: relative;
        top: 0;
        right: unset;
    }
    main .banner .logo {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
        left: unset;
        text-align: center;
        background: #fff;
        padding: 19px 0 15px;
    }
    main .banner p {
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
    }
    main .banner h2 {
        text-align: center;
        margin: 0 0 20px;
    }
    main .banner .parallax-container .parallax {
        top: 118px;
    }
    #formulario-lp-fiberhome-32ff90fa7bef39066f83 {
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
        min-height: 484px;
    }
    main .about {
        padding: 50px 0 50px;
    }
    main .about p {
        text-align: center;
    }
    main .about .btn-video {
        float: none;
        margin: 71px auto 0;
        display: table;
    }
    .row .col {
        width: 100%;
    }
    main .about img.lap {
        margin: 0 auto;
        display: block;
    }
    main .about .row:before {
        display: none;
    }
    main .vision {
        height: auto;
        padding: 50px 0;
    }
    main .vision .man {
        display: none;
    }
    main .vision .valign-wrapper {
        text-align: center;
        height: auto;
    }
    main .vision.videos {
        padding: 50px 0 94px;
    }
    main .title {
        margin-top: 0;
    }
    main .vision.videos .box-list {
        margin: 60px auto 0;
    }
    main .wdc .valign-wrapper {
        height: auto;
    }
    main .wdc .vantagens div br {
        display: none;
    }
    main .wdc .vantagens div {
        margin: 0;
    }
    main .wdc {
        height: auto;
        padding: 50px 0;
    }
    main .contact {
        text-align: center;
    }
    main .contact .infos .buttons a {
        margin: 0 auto;
    }
    #formulario-lp-fiberhome-2-5ed0e2219684ad2119b2 {
        text-align: left;
        max-width: 500px;
        margin: 0 auto;
    }
    main .about .btn-video img {
        border:none;
    }
    main .contact h2 {
        margin-top: 50px;
    }
}

@media (max-width: 1150px) {
    main .support .woman {
        display: none;
    }

    main .support .bg {
        position: absolute;
        width: 200%;
        height: 100%;
        background-color: var(--color-azul-escuro);
        top: 0;
        right: 153px;
        transform: skewX(-45deg);
    }
    main .support .content {
        height: auto;
        min-height: 500px;
    }
    main .solucoes .bg {
        transform: skewX(0);
        left: 0;
    }
    main .solucoes {
        height: auto;
        text-align: center;
        padding: 50px 0 20px;
    }
    main .solucoes h2 {
        margin-top: 0;
    }
    main .solucoes ul {
        margin: 0 auto;
        float: none;
    }
}

@media (max-width: 760px) {
    body {
        font-size: 16px;
    }
    main .banner {
        margin-top: 54px;
    }
    main .about img.lap {
        max-width: 100%;
    }
    main .about .btn-video {
        padding: 9px;
        width: 100%;
        text-align: center;
        padding-top: 6px;
    }
    main .about .btn-video img {
        top: unset;
        right: unset;
        max-width: 35px;
        position: relative;
        vertical-align: bottom;
        margin-left: 13px;
    }
    main .vision .box-list {
        grid-template-columns: 1fr 1fr;
    }
    main .wdc .vantagens a {
        margin-left: 0;
        width: 100%;
        max-width: none;
    }
    main .support .content {
        padding-bottom: 50px;
    }
    main .support .bg {
        transform: skewX(0);
        width: 100%;
        right: 0;
    }
    main .support ul {
        margin-top: 50px;
    }
    main .support .content {
        min-height: unset;
    }
    main .wdc h2 {
        font-size: 30px;
        margin-top: 0;
    }
    main .solucoes h2 {
        margin-top: 0;
        font-size: 32px;
    }
    main .banner h2 {
        margin-top: 50px;
        font-size: 30px;
        line-height: 33px;
    }
    main .banner .text {
        margin-top: 0;
    }
}
@media (max-width: 350px) {


    main .vision .box-list {
        grid-template-columns: 1fr;
    }
}