<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WDC - Fiberhome</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="vendor/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owlcarousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="top">
                <img src="img/wdc.png" width="207" alt="WDC Networks">
                <p>Conecte-se ao essencial</p>
            </div>
            <nav class="navbar">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="hide-on-med-and-down navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link scroll-to-link" href="#institucional">INSTITUCIONAL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-to-link" href="#visao-do-setor">VISÃO DO SETOR</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-to-link" href="#solucoes">SOLUÇÕES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-to-link" href="#servicos">SERVIÇOS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-to-link" href="#as-a-service">As a Service</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll-to-link" href="#contato">CONTATO</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <ul class="sidenav" id="mobile-demo">
                <li class="nav-item">
                    <a class="nav-link scroll-to-link" href="#institucional">INSTITUCIONAL</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to-link" href="#visao-do-setor">VISÃO DO SETOR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to-link" href="#solucoes">SOLUÇÕES</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to-link" href="#servicos">SERVIÇOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to-link" href="#as-a-service">As a Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link scroll-to-link" href="#contato">CONTATO</a>
                </li>
            </ul>
        </header>
        <main>
            <section class="banner parallax-container">
                <div class="parallax"><img src="img/bg-slider.jpg" alt=""></div>
                <div class="logo">
                    <div class="bg"></div>
                    <div class="triangle"></div>
                    <img src="img/fiberhome.png" width="227" alt="Fiberhome">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col xl3">
                        </div>
                        <div class="col xl4">
                            <div class="text" v-if="acf.acfContent" v-html="acf.acfContent.texto_banner_formulario">
                            </div>
                        </div>
                        <div class="col xl5">
                            <div class="text">
                                <div role="main" id="formulario-lp-fiberhome-32ff90fa7bef39066f83"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about scroll-to-block" data-id="institucional">
                <div class="bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col xl5">
                            <img class="lap" src="img/laptop.png" alt="">
                        </div>
                        <div class="col xl7">
                            <div v-html="acf.texto_institucional"></div>
                            <a id="JZ-UpvvG_II" class="btn-video modal-button">Veja o Vídeo <img
                                    src="img/bt-play.png" width="93" alt=""></a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vision parallax-container scroll-to-block" data-id="visao-do-setor">
                <div class="parallax">
                    <img src="img/bg-visao.jpg" alt="">
                </div>
                <div class="bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col xl8 valign-wrapper">
                            <div>
                                <h2 class="title">
                                    visão <span> do setor</span>
                                </h2>
                                <div class="box-list" v-if="acf.acfContent">
                                    <div v-for="visao in acf.acfContent.lista_visao_setor">
                                        <a :href="visao.link" class="box" target="_blank">
                                            <div class="ico">
                                                <img src="img/ico-tendencias.png" width="70"
                                                    alt="">
                                            </div>
                                            <h2>{{ visao.titulo }}</h2>
                                            <p v-if="visao.chamada">{{ visao.chamada }}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col xl4 man">
                            <img src="img/man-vision.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="products scroll-to-block" data-id="solucoes" v-if="acf.acfContent">
                <div class="container">
                    <h2 class="title center-align">
                        soluções <span> fiberhome</span>
                    </h2>
                    <div class="carousel">
                        <a class="carousel-item box" href="https://wdcnet.com.br/produtos/?_sft_familia-de-produto=cabos-de-fibra-optica-redes-de-distribuicao-optica-odn&_sft_fabricantes=distribuidora-fiberhome" v-for="solucao in acf.acfContent.lista_solucoes">
                            <img src="img/cabos.jpg">
                            <h2>Cabos de fibra ótica</h2>
                            <span>Saiba mais</span>
                        </a>

                    </div>
                    <div class="navigation">
                        <div class="prev">
                            <img src="img/arrow-left-blue.png" width="40" alt="">
                        </div>

                        <div class="next">
                            <img src="img/arrow-right-blue.png" width="40" alt="">
                        </div>

                    </div>
                </div>
            </section>
            <section class="support">
                <div class="title-section">
                    <h2>Suporte</h2>
                </div>
                <div class="content" style="background: url(img/bg-suporte.jpg) no-repeat right center">
                    <div class="bg"></div>
                    <img class="woman" src="img/mulher.png" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col xl7">
                                <div>
                                    <ul class="collapsible">
                                        <li>
                                            <div class="collapsible-header">Suporte Gratuito</div>
                                            <div class="collapsible-body">Segunda a sexta das 9h as 18h por e-mail ou telefone 5x8.</div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">Suporte VIP</div>
                                            <div class="collapsible-body">- Atendimento 24*7 <br>
        - Network Checking incluindo Plano de Ação para Atualização, Correção de falha e Melhorias na rede. <br>
        - Assistência em processos de Teste e Homologação de Novas ONUs e OLTs Fiberhome. <br>
        - Definição de Escalation entre Ambas as Partes (Fiberhome e cliente) <br>
        - Relatório Mensal das atividades executadas e crescimento da rede. <br>
        - Acesso as MIBs e OIDs</div>
                                        </li>
                                    </ul>
                                    <div class="title-faq">
                                        <img width="56" src="img/ico-faq.png" alt="">
                                        <h2>Dúvidas frequentes</h2>
                                    </div>
                                    <ul class="collapsible faqc">
                                        <li>
                                            <div class="collapsible-header">1) Qual a diferença da potência de luz GBIC classe ( B+ / C+ )</div>
                                            <div class="collapsible-body">Classe de Gbics:<br>
                                                B+ 3 a 5db - ONU opera em até -28dbm<br>
                                                C+ 3 a 7db - ONU opera em até -30dbm
                                                <a id="B-ptnIXM-PU" class="modal-button">Veja o vídeo</a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="collapsible-header">2) Pre requisito de Hardware e Software para instalacao do ambiente do UNM2000</div>
                                            <div class="collapsible-body">
                                                <a href="https://drive.google.com/file/d/1xIuyPkXg3RlJX6gmIDqTHQSyQ-5zfVey/view?usp=sharing" target="_blank" rel="noopener noreferrer">Requisitos</a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="vision videos parallax-container" v-if="acf.acfContent">
                <div class="parallax">
                    <img src="img/bg-videos.jpg" alt="">
                </div>
                <div class="bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col xl8 valign-wrapper">
                            <div>
                                <h2 class="title">
                                <span><strong>+</strong></span>vídeos <span> fiberhome</span>
                                </h2>
                                <div class="box-list owl-carousel owl-theme">

                                        <a id="LZvK_UtwLLU" class="carousel-item box modal-button" v-for="video in acf.acfContent.lista_videos">
                                            <div class="ico">
                                                <img src="img/play-youtube.png" width="40"
                                                    alt="">
                                            </div>
                                            <h2>{{ video.titulo }}</h2>
                                        </a>

                                </div>
                            </div>
                        </div>
                        <div class="col xl4 man">
                            <img src="img/laptop1.png" alt="">
                        </div>
                    </div>
                </div>
            </section>
            <section class="solucoes scroll-to-block" data-id="servicos" style="background: url(img/bg-solucoes.jpg) no-repeat center top/cover">
                <div class="bg"></div>
                <div class="container">
                    <div class="row">
                        <div class="col xl6 offset-xl6">
                            <h2> <strong> SOLUÇÃO</strong> DE PONTA A PONTA <span>FIBERHOME</span></h2>
                            <ul>
                                <li>Equipamentos robustos para missão crítica</li>
                                <li>Suporte local especializado, gratuito e opção de suporte pago 24x7 </li>
                                <li>Auxílio e monitoramento da rede do cliente</li>
                                <li>Presença Nacional</li>
                                <li>Disponibilidade de estoque local</li>
                                <li>Facilidade no pagamento dos produtos</li>
                                <li>Produtos com tecnologia de ponta para a melhor experiência do usuário final</li>
                                <li>Solução Fim-a-fim para<br> o provedor de internet</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="wdc scroll-to-block" data-id="as-a-service" style="background: url(img/bg-wdc.jpg) no-repeat center top/cover">
                <div class="container">
                    <div class="row">
                        <div class="col xl7 valign-wrapper">
                            <div>
                                <h2>CONHEÇA O MODELO DE NEGÓCIO IDEAL, ALUGUE TODA TECNOLOGIA QUE PRECISA.</h2>
                                <h4>O MUNDO MUDOU, NÓS TAMBÉM.</h4>
                                <p>O único distribuidor que possui o modelo de negócio ideal para você. <br>Direto conosco, <strong> As A Service</strong>.</p>
                                <p>A WDC NETWORKS desenvolveu em 2013, uma nova maneira de ofertar tecnologia de forma simples e descomplicada. Permitindo que as empresas possam investir na melhor tecnologia pagando uma mensalidade, ao invés de ter que investir de uma só vez. Nós transformamos o seu CAPEX em OPEX, em um formato que permite desfrutar de todos os benefícios fiscais de uma operação de arrendamento mercantil. </p>
                            </div>
                        </div>
                        <div class="col xl5 vantagens valign-wrapper">
                            <div class="div">
                                <h2>VANTAGENS:</h2>
                                <ul>
                                    <li><h4>RENOVAÇÃO TECNOLÓGICA</h4></li>
                                    <li><h4>MAIOR LUCRATIVIDADE<br> - FLUXO DE CAIXA SAUDÁVEL</h4></li>
                                    <li><h4>IMPOSTOS REDUZIDOS</h4></li>
                                    <li><h4>FLEXIBILIDADE NAS PARCELAS<br> - 36, 48 OU 60 MESES</h4></li>
                                    <li><h4>NÃO PREJUDICA SEU EBITIDA<br> - CAPEX SE TORNA OPEX</h4></li>
                                </ul>
                                <a href="#" class="more">SAIBA MAIS</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contact scroll-to-block" data-id="contato">
                <div class="container">
                    <div class="row">
                        <div class="col xl3">
                            <img width="126" src="img/wdc-v.png" alt="WDC Networks">
                        </div>
                        <div class="col xl4">
                            <h2>CONTATO</h2>
                            <div class="infos">
                                <strong>FIBERHOME</strong><br>
                                Telefone: <span>11</span> <strong>3046-9333</strong><br>
                                Email: <a href="mailto:support.brazil@fiberhome.com" target="_blank" rel="noopener noreferrer"><strong>support.brazil@fiberhome.com</strong></a>
                            </div>
                            <div class="infos">
                                <strong>WDC</strong><br>
                                Telefone: <span>11</span> <a href="https://api.whatsapp.com/send?phone=551130353777" target="_blank" rel="noopener noreferrer"><strong class="whatsapp">3035.3777 <img src="img/ico-whatsapp.png" width="25" alt="WhatsApp"></strong></a><br>
                                Email: <a href="mailto:contato@wdcnet.com.br" target="_blank" rel="noopener noreferrer"><strong>contato@wdcnet.com.br</strong></a>
                            </div>
                            <div class="infos">
                                <div class="buttons">
                                    <a href="https://wdcnet.com.br/atendimento/fale-conosco/" target="_blank" rel="noopener noreferrer"><strong>mais informaçÕes</strong></a>
                                    <a href="https://wdcnet.com.br/atendimento/sac-atendimento-pos-venda/" target="_blank" rel="noopener noreferrer"><strong>SAC (PÓS-VENDA)</strong></a>
                                </div>
                            </div>
                        </div>
                        <div class="col xl5">
                            <div role="main" id="formulario-lp-fiberhome-2-5ed0e2219684ad2119b2"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Modal Structure -->
        <div class="modal-video">
            <div class="content">
                <a class="close">X</a>
                <div class="modal-content">
                    <iframe src="" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <script src="vendor/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="https://d335luupugsy2.cloudfront.net/js/rdstation-forms/stable/rdstation-forms.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="vendor/owlcarousel/owl.carousel.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                acf: {},
                loading: false
            },
            methods: {
                init () {
                    console.log($('#app').find('.owl-carousel'))
                    $('.owl-carousel').owlCarousel({
                        loop:true,
                        margin:0,
                        dots: false,
                        navText: [''],
                        responsiveClass:true,
                        responsive:{
                            0:{
                                items:2,
                            },
                            600:{
                                items:2,
                            },
                            1000:{
                                items:4,
                                nav:true,
                            }
                        }
                    })

                    /*$('.products .next').on('click', () => {
                        console.log('click')
                        $('.products .carousel').carousel('next')
                    })
                    $('.products .prev').on('click', () => {
                        $('.products .carousel').carousel('prev')
                    })
                    $('.sidenav').sidenav()
                    $('.parallax').parallax()
                    $('.collapsible').collapsible()
                    $('.owl-carousel').owlCarousel({
                        loop:true,
                        margin:0,
                        dots: false,
                        navText: [''],
                        responsiveClass:true,
                        responsive:{
                            0:{
                                items:2,
                            },
                            600:{
                                items:2,
                            },
                            1000:{
                                items:4,
                                nav:true,
                            }
                        }
                    })*/
                },
                fetchContent() {
                    loading = true
                    let i = fetch('http://localhost/projetos/lp-fiberhome/wp-json/lp/v1/home')
                    .then(respond => respond.json())
                    .then(respondJson => {
                        console.log('primeiro')
                        this.acf = respondJson
                        loading = false
                        this.init()
                    })
                }
            },
            created () {
                this.fetchContent()
            },
            beforeCreate: function () {
                this.$nextTick(function () {
                    console.log('ultimo')

                })
            }
        })

        /*document.addEventListener('DOMContentLoaded', function() {
            // M.AutoInit();
            //Modal
            //console.log('carregou')
            const modalButtons = document.querySelectorAll('.modal-button')
            const modalOverlay = document.querySelector('.modal-video')

            for(let modalButton of modalButtons) {
                const id = modalButton.getAttribute('id')
                modalButton.addEventListener('click', (event) => {
                    modalOverlay.classList.add('active')
                    modalOverlay.querySelector('iframe').src = `https://www.youtube.com/embed/${id}`
                })
            }
            document.querySelector('.close').addEventListener('click', function() {
                console.log('click')
                modalOverlay.classList.remove('active')
                modalOverlay.querySelector('iframe').src = ''
            })
        });*/









     function gotoScroll() {
         var hash = window.location.hash.replace("#", "")
         if(hash) {
             $('body, html').animate({'scrollTop':$('.scroll-to-block[data-id="'+hash+'"]').offset().top - 63}, 500)
         }
     }gotoScroll()

     $('.scroll-to-link').on('click', function(){
         console.log('click')
         var index = $(this).attr('href').substr(1)
         $('body, html').animate({'scrollTop':$('.scroll-to-block[data-id="'+index+'"]').offset().top -63}, 500)
         return false
     });


     let documentScroll
     const header = $('header')

     window.onscroll = () => {
         documentScroll = $(document).scrollTop()
         menushow()
     }

     // Anima Menu
     const menushow = () => {
         if( documentScroll > 163 ) {
             header.addClass('fixed')
         } else {
             header.removeClass('fixed')
         }
     }
     menushow()

     new RDStationForms('formulario-lp-fiberhome-2-5ed0e2219684ad2119b2', 'UA-32191804-1').createForm()
     new RDStationForms('formulario-lp-fiberhome-32ff90fa7bef39066f83', 'UA-32191804-1').createForm()


    </script>
</body>

</html>